.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  flex-basis: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: white;
  font-weight: 900;
  font-size: 2em;
}
