body{
  padding: 1rem;
}


.container {
  margin-block-start: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  flex-basis: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: white;
  font-weight: 900;
  font-size: 2em;
}

/* TODO: check class name */
.adjustment-container{
  background-color: aqua;
  width: 200px;
  height: 0.5rem;
  cursor: n-resize;
}

/* TODO: check class name */
.adjustment-controller{
  width: 0.25rem;
  background-color: black;
  height: 100%;
  display: block;
}
